@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#conteudo-principal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12em;
  }

  .galeria-titulo {
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }

  .conteudo-primario-card,
  .conteudo-secundario-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Adicionado para centralizar os cards */
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    color: #000;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    max-width: 350px;
    margin: 20px;
  }
  
  .card-header img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Adicionado para ajustar as imagens corretamente */
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-body h3 {
    margin-top: 0;
  }
  
  .card-footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }  
  
  #info-rodape {
    margin-top: 20em;
  }