.titulo-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.titulo-aside p {
  text-align: center;
  font-weight: 600;
}

.titulo-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-aside p {
  text-align: center;
}

/* Cards */

.conteudo-principal {
    max-width: 960px;
    margin: 3em auto 10em auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    border: 1px solid #14151a;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #14151a;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    padding: 1em;
    max-width: 350px;
    margin: 20px;
  }
  
  .card-header img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Adicionado para ajustar as imagens corretamente */
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-body h3 {
    margin-top: 0;
  }
  
  .card-footer {
    padding: 10px;
    text-align: center;
  }  
  
  #info-rodape {
    margin-top: 20em;
  }
  
  .card-header img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Adicionado para ajustar as imagens corretamente */
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-body h3 {
    margin-top: 0;
  }
  
  .card-footer {
    padding: 10px;
    text-align: center;
  }  
  
  #info-rodape {
    margin-top: 20em;
  }